<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<style>
	body {
		font-family: Arial;
	}
	a {
		color: rgb(68, 67, 67);
		text-decoration: none;
		font-size: 25px;
	}
	a:hover{
		color: rgb(122, 31, 31);
	}
</style>
<body>
	{% for post in posts %}
		<div>
			<a href="{% url 'post_detail' post_id=post.id %}">
				{{ forloop.counter }}. {{ post.title }}
			</a>
		</div>
	{% endfor %}
</body>
</html>